body {
  /* Your CSS here. */

    margin:auto;
    width:200px;
    height:200px;
    background-color: gray;
}
.centerMe{
   position: absolute;               
   top: 50%;                        
}